.tag {
    background-color: rgba(224, 225, 228, 0.7);
    border-radius: 6px;
    border: 1px solid rgba(224, 225, 228, 0.7);
    padding: 10px;
    &:hover {
        cursor: pointer;
        border-color: rgba(151, 165, 235, 0.7);
    }
    &:active {
        color: var(--white);
        background-color: #B2B2B2;
        border-color: #B2B2B2;
    }
    &_more {
        background-color: rgba(178, 178, 178, 0.8);
        border-color: rgba(178, 178, 178, 0.8);
    }

    a {
        text-decoration: none;
        color: var(--gray-100);
    }

    svg {
        margin-left: 10px;
        padding: 3px;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        border-radius: 3px;

        &:hover {
            background: #888;
        }
    }
}