.field_editor {
    
    &.error {
        background: var(--red10);
    }

    .close_label {
        font-weight: 700;
        font-size: 15px;
    }

    .cb_list {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
        .cb_item {
            min-height: 25px;

        }
    }
}