.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 28px 18px 24px;
    height: 80px;
    
}
.actions {
    button {
        height: 38px;
        margin-left: 10px;
    }
}

.subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-70);
}

.search {
    display: flex;
    align-items: center;
}