.field_editor {

    padding: 8px;
    border-radius: 4px;

    &.error {
        background: var(--red10);
    }

    .row_value {
        display: flex;
        align-items: center;

        .value {
            flex-grow: 1;
        }

        .label {
            font-weight: 700;
            font-size: 15px;
            flex: 0 0 30%;
        }
    
        .display_value {
            flex-grow: 1;
            font-size: 15px;        
        }

        .btn_edit {
            cursor: pointer;
        }
    }

    .row_edit {
        margin-top: 15px;
        display: none;
        align-items: center;

        &.show {
            display: flex;
        }

        .input_value {
            flex-grow: 1;
        }

        textarea {
            height: 300px;
        }

        .btn_save {
            cursor: pointer;
            margin-left: 15px;
        }
    }
}

.draftjs_wrap {
    flex-grow: 1;
    border-radius: 6px;
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    transition: border 0.3s linear;
    font-size: 15px;
    line-height: 18px;
}