.content {
    display: flex;
    position: relative;
    max-height: 100vh;
    flex: 1 1;
    overflow: auto;
}

.aside {
    width: 252px;
    @media (max-width: 1000px) {
        width: 120px;
    }
}

.main {
    //overflow: hidden;
    //overflow-x: auto;
    //width: 100%;
    //position: relative;
}